<h1>Admin::Dashboard#show</h1>

<h2 class="display-4"><%= link_to 'Products', admin_products_path %> : <%= @product_count %></h2>
<h2 class="display-4"><%= link_to 'Categories', admin_products_path %>: <%= @category_count %></h2>

